#settings-popup {
    z-index: 900;
    background-color: #282c34;
    color: white;
    width: 320px;
    position: absolute;
    top: 40px;
    left: 0px;
    height: calc(100vh - 40px);
    overflow: auto;
    padding: 10px 0 30px 0;
    form {
        padding: 0 25px 30px;
        margin: 0;
        .settings-group {
            @extend .neumorphic-cave;
            padding-left: 25px;
        }
        h2 {
            color: #87bfd0;
            font-size: 1rem;
            font-weight: normal;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: solid 1px;
        }
        #game-settings-header {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        p {
            margin: 0;
        }
    }
}

.range {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    label {
        align-self: flex-start;
    }
    input {
        width: 80%;
        margin-right: 10px;
        display: block;
    }
    span {
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
        //min-width: 30px;
    }
}


#input-settings-players-move {
    width: 100%;
}

#settings-players-list > p {
    display: inline-block;
}

.settings-group {
    padding: 10px;
}

@import './Common.scss'