#settings-popup {
    z-index: 900;
    background-color: #282c34;
    color: white;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 0px;
    height: calc(100vh - 40px);
    overflow: auto;
}

#settings-popup > form {
    padding: 0 30px;
    margin: 0;
}

#settings-popup > form > h2 {
    color: #87bfd0;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

#settings-popup > form > #game-settings-header {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#settings-popup > form > div > p {
    margin: 0;
}

.range {
    position: relative;
}

.range > input {
    width: 80%;
    margin-right: 10px;
    display: block;
}
.range > span {
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    left: 85%;
    bottom: 0;
}

#settings-players-list > p {
    display: inline-block;
}

#input-settings-players-move {
    width: 100%;
}