#settings-players-list > p {
    display: inline-block;
}

/* css logic for #players-list:
*
*   <ul> has 3 stages (toggle-classes, in order): 'choose-player' and two mutually-exclusive: 'edit-player' and 'reorder-player'.
*   Each one controls these properties (marked with "//toggles" ):
*       - visibility of edit-protection overlay 
*       - disign of color dialog (+ inline animations)
*       - visibility of delete button (+ inline animations)
*
*   overlay has 'onClick()' event that switches class to 'edit-player' from 'choose-player'
*   class 'reorder-player' is toggled by a button outside of <ul> and in same parent
*
*/

.overlay {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
}

.neuphormic-button {
    transition: 0.1s linear 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow:
    inset 5px 5px 10px #24272e00, 
    inset -5px -5px 10px #2c313a00,
        -1px -1px 3px 0px #24272e00
    ;
    span {
        transition: 0.1s linear;
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(40, 44, 52, 1);
        box-shadow:
        0px 0px 4px 4px rgba(40, 44, 52, 1),
         -3px -3px 4px 0px rgba(255, 255, 255, 0.5),
           1px 2px 6px 2px rgba(0, 0, 0, 1)
        ;    
    }
    &:active {  
        box-shadow:
        inset 5px 5px 10px #24272e, 
        inset -5px -5px 10px #2c313a,
         -1px -1px 3px 0px #24272e
        ;
        span {
            background-color: rgba(40, 44, 52, 1);
            box-shadow:
            0px 0px 4px 4px rgba(40, 44, 52, 1),
            -1px -1px 4px 0px rgba(255, 255, 255, 0),
            0px 0px 6px 2px rgba(0, 0, 0, 0)
            ;   
        }
    }
}

.neuphormic-button-circle {
    @extend .neuphormic-button;
    border-radius: 50%;
    
    
    span {
        border-radius: 50%;
    }
}

#players-list {
    padding-left: 15px;
    
    li {
        display: flex;
        align-items: center;
        position: relative;
        .player-color-avatar {
            @extend .input-color-no-border;
            height: 30px; // toggles
            width: 5px;   // toggles
            min-width: 5px; // toggles
        }
        .player-edit-group {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            height: 40px;
            .button-color > input {
                     
            }
            .button-apply, .button-delete, .button-cancel, .button-color {
                @extend .neuphormic-button-circle;
                cursor: pointer;
                opacity: 0;
                height: 30px;
                width: 30px;
                margin-right: 20px;
            }
        }
        .changable-name {
            cursor: pointer
        }
        .disable-edit {
            visibility: unset; // toggles
            cursor: pointer;          
        }
        .drag-target {
            visibility: hidden; // toggles
        }
    }
}

.player-color {
    @extend .input-color-no-border;
    cursor: pointer;
    border-radius: 50%;
    &::-webkit-color-swatch {
        border-radius: 100%;
        box-shadow: 0px 0px 3px 0px black inset;
    } 
}
#players-list.choose-player-toggle > li {
    
    &:hover {
        
        .player-color-avatar {
            min-width: 10px;
        }
    }
}

#players-list.edit-player-toggle {
    li {
        
        &:hover {     
            .player-color-avatar {
                width: 5px;
                min-width: 5px;
            }
        }
    }
    li.active {
        margin-bottom: 40px;
        .player-edit-group {
            bottom: -40px;
            .button-color, .button-apply, .button-cancel,.button-delete {
                opacity: 1;
            }
            .button-color > span > .player-color {
                width: 80%;
                height: 80%;
            }
        }
        .disable-edit {
            visibility: hidden;
        }
        
        // &:hover > .player-color-avatar {
        //     width: 5px;
        //     min-width: 10px;
        // }
    }
}

#players-list.reorder-players-toggle > li {
    .button-delete {
        visibility: unset;
    }
    .drag-target {
        visibility: unset;
    }
}

.player-name {
    display: block;
    min-width: 25px;
    font-size: 1rem;
    width: fit-content;
    
    &:hover {
        //background-color: red;
        cursor: pointer;
    }
}

.input-color-no-border {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    &::-webkit-color-swatch {
        border: none;
    }
}

.profile-container {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 0px 5px;
    img {
        height: 30px;
        width: 30px;
        min-width: 30px;
        background-color: rgb(255, 255, 255);
    }
    span {
        margin-left: 5px;
    }
}

.changable-name {
    position: relative;
    input {
        // height: 1rem;
        // line-height: 1rem;
        border: none;
        outline: none;
        background: rgba(0, 0, 0, 0);
        color: #87bfd0;
        visibility: hidden;
        margin-left: 5px;
        position: absolute;
        left: 30px;
    }
    button, span {
        line-height: 1rem;
        visibility: unset;
    }
    &.active {
        input {
            visibility: unset;
        }
        button, span {
            visibility: hidden;
        }
    }
}

// test